:root {
  --sss: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  --srf: Charter, Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
}

body, button, input, label, select, td, textarea {
  font-family: var(--sss);
  font-size: 11px;
}

._585- {
  border: 0;
}

._5p3y ._2t-8 {
  font-family: var(--sss);
}

._2s1x ._2s1y {
  background-image: none;
  background-color: #046BA9;
}

._5p3y[dir="ltr"],
._5p3y[dir="ltr"] button,
._5p3y[dir="ltr"] input,
._5p3y[dir="ltr"] label,
._5p3y[dir="ltr"] select,
._5p3y[dir="ltr"] td,
._5p3y[dir="ltr"] textarea,
._5p3y[dir="ltr"] .uiMentionsInput .highlighter,
._5p3y[dir="ltr"] .uiButtonText,
._5p3y[dir="ltr"] .uiButton input,
._5p3y[dir="ltr"] .uiLinkButton input,
._5p3y[dir="ltr"] button.as_link,
._5p3y[dir="ltr"] .fbChatSidebar,
._5p3y[dir="ltr"] .fbDock,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory .tickerFeedMessage,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h5,
._5p3y[dir="ltr"] .fbFeedTicker .fbFeedTickerStory div.tickerFeedMessage h6,
._5p3y[dir="ltr"] .uiTooltipX .tooltipContent,
._5p3y[dir="ltr"] a[role="button"],
._5p3y[dir="rtl"] *[dir="ltr"] {
  font-family: var(--sss);
}


._6m7._6m7._6m7._6m7 { font-family: var(--sss); }

._558b ._54nc { font-family: var(--sss); }

._6m6,
._6m6._6m6._6m6._6m6,
._5h55 ._1ui6,
._52h5 ._6n0,
._52h5 ._6m-,
#facebook ._5p64 div span._5sbf {
  font-family: var(--srf)
}
